{% extends 'base.html' %}


{% block content %}

   <a href="{% url 'author-create' %}"> Create an author </a>

    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Second Name</th>
            <th>Update</th>
        </tr>
    {% for author in authors_list %}
        <tr>
            <td>{{ author.first_name }}</td>
            <td>{{ author.second_name }}</td>
            <td><a href="{% url 'author-update' author.id %}"> Edit </a></td>
        </tr>


        <br/>
    {% empty %}
        NO DATA
    {% endfor %}
    </table>

{% endblock content %}


