{% extends 'base.html' %}


{% block content %}

    <a href="{% url 'book-create' %}"> Create a book </a> <br><br>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Book title</th>
            <th>Update</th>
        </tr>
        {% for book in books_list %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td><a href="{% url 'book-update' book.id %}"> Edit </a></td>
        </tr>


        <br/>
    {% empty %}
        NO DATA
    {% endfor %}

    </table>

{% endblock content %}



