
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
        <div class="col-4">
    <p>
        My Profile
    </p>
    
    <img class="rounded-circle z-depth-2"
         width="50" height="50"
         src="{{ request.user.avatar.url }}">
            
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
        </div>
</div>

{% endblock content %}