{% extends 'base.html' %}


{% block content %}
<a href="{% url 'download-xlsx' %}"> Downloand to XLSX</a> <br>

    <table border="1">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Book</th>
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ object.id }}</td>
            <td>{{ object.book.title }}</td>
            <td>{{ object.created }}</td>
            <td>{{ object.get_status_display }}</td>
            <td>
                {% if object.status == mch.STATUS_IN_PROGRESS %}
                <a href="{% url 'req-books-confirm' object.id %}">Confirm</a> |
                <a href="{% url 'req-books-reject' object.id %}">Reject</a>
                {% elif object.status == mch.STATUS_CONFIRMED%}
                <a href="{% url 'sent-via-email' object.id %}">Sent Via Email</a>
                {% elif object.status == mch.STATUS_SENT_BACK_TO_OWNER%}
                <a href="{% url 'owner-received' object.id %}">I received back my book!</a>
                {% endif %}
            </td>
        </tr>

    {% empty %}
        NO DATA
    {% endfor %}

    </table>

{% endblock content %}
