{% if request.user.is_authenticated %}
    {{ request.user }} is logged.<br> <br>
    <a href="{% url 'my-profile' %}">Profile</a> <br>
    <a href="{% url 'logout' %}">Logout</a> <br>
{% else %}
    <a href="{% url 'signup' %}">Sign up</a> <br>
    <a href="{% url 'login' %}">Login</a> <br>
{% endif %}

<br>
<a href="{% url 'index' %}"> Home </a> <br>
<a href="{% url 'book-list' %}">Books list</a> <br>
<a href="{% url 'contact-us' %}">Contact us</a> <br>
{% if request.user.is_authenticated %}
    <a href="{% url 'my-book-list' %}">My books</a> <br>
    <a href="{% url 'my-requested-books' %}">My requested books</a> <br>
    <a href="{% url 'requested-books' %}">Requested books</a> <br>
{% endif %}
<a href="{% url 'author-list' %}">Authors list</a> <br><br><br>